{% if session.get("user_email", None) == None or session.get("user_name", None)
== None%}
<div class="space-x-2 hidden md:block text-sm">
  <a
    href="/login"
    class="px-4 py-2 border border-gray-500 rounded-md hover:bg-gray-700"
    >Login</a
  >
  <a
    href="/signup"
    class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700"
    >Signup</a
  >
</div>
{% else %}
<div class="relative hidden md:block text-sm">
  <button
    id="user-dropdown-toggle"
    class="px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-700 focus:outline-none"
  >
    Hi, {{ session.get("user_name") }}
  </button>
  <!-- Dropdown Menu -->
  <div
    id="user-dropdown"
    class="absolute bg-white text-black rounded-md shadow-lg hidden mt-3 min-w-[150px] right-0"
  >
    <a
      href="{{ url_for('auth.rating') }}"
      class="block px-4 py-2 text-sm hover:underline"
      >My Ratings</a
    >
    <a
      href="{{ url_for('auth.logout') }}"
      class="block px-4 py-2 text-sm text-red-600 hover:underline"
      >Logout</a
    >
  </div>
</div>
{% endif %}

<script>
  // Toggle user dropdown
  const userDropdownToggle = document.getElementById("user-dropdown-toggle");
  const userDropdown = document.getElementById("user-dropdown");

  userDropdownToggle.addEventListener("click", function () {
    userDropdown.classList.toggle("hidden");
  });

  // Close dropdown if clicking outside
  document.addEventListener("click", function (event) {
    if (
      !userDropdownToggle.contains(event.target) &&
      !userDropdown.contains(event.target)
    ) {
      userDropdown.classList.add("hidden");
    }
  });
</script>
