<header class="bg-black text-white fixed left-0 right-0 top-0">
  <div
    class="mx-auto flex justify-between items-center p-4 gap-x-4 max-w-[1400px]"
  >
    <div class="text-md md:text-lg font-bold">
      <a href="/" class="hover:text-gray-300">COMS W4111</a>
    </div>

    {% include "components/header_menu.html" %}

    <button id="menu-toggle" class="md:hidden text-gray-300">
      <i class="bx bx-menu text-2xl"></i>
    </button>
  </div>

  <!-- Mobile Menu -->
  {% include "components/mobile_menu.html" %}
</header>
