<div class="bg-[#006bb6] text-white">
  <div class="container mx-auto p-8">
    <div class="flex flex-col md:flex-row items-center gap-8 min-h-[300px]">
      <!-- Team Logo -->
      <div class="flex justify-center md:justify-start">
        <img
          class="w-[200px] h-[200px] rounded-full object-cover border"
          src="{{player.player_image}}"
          alt="Player"
        />
      </div>
      <!-- Player Info -->
      <div class="flex-1">
        <p class="text-lg md:text-xl font-medium">
          ESPN Rank | #{{player.espn_rank}}
        </p>
        <h1 class="text-2xl md:text-3xl font-bold">{{player.player_name}}</h1>
        <p class="mt-6 text-sm">{{player.description}}</p>
      </div>
      <!-- Follow Button -->
      <div class="mt-4 md:mt-0">
        <button
          data-id="{{player.player_id}}"
          class="compare-button px-6 py-1.5 border border-white rounded-full flex items-center gap-x-2 text-sm hover:bg-white hover:text-[#006bb6] transition-colors duration-300"
        >
          <i class="bx bx-star text-xl"></i> COMPARE
        </button>
      </div>
    </div>
  </div>
  <div class="bg-opacity-20 bg-black text-white border-t">
    <div
      class="container mx-auto flex text-center divide-x divide-y md:divide-y-0 flex-wrap md:flex-nowrap divide-white border-x"
    >
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">POINTS</p>
        <p class="text-xl font-bold">{{player.points}}</p>
      </div>
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">ASSISTS</p>
        <p class="text-xl font-bold">{{player.assists}}</p>
      </div>
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">REBOUNDS</p>
        <p class="text-xl font-bold">{{player.rebounds}}</p>
      </div>
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">STEALS</p>
        <p class="text-xl font-bold">{{player.steals}}</p>
      </div>
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">BLOCKS</p>
        <p class="text-xl font-bold">{{player.blocks}}</p>
      </div>
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">TURN OVERS</p>
        <p class="text-xl font-bold">{{player.turn_overs}}</p>
      </div>
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">FP %</p>
        <p class="text-xl font-bold">{{player.fg_percentage}}</p>
      </div>
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">FP 3P %</p>
        <p class="text-xl font-bold">{{player.fg_3p_percentage}}</p>
      </div>
      <div class="px-4 py-8 flex-1">
        <p class="text-sm">FT %</p>
        <p class="text-xl font-bold">{{player.ft_percentage}}</p>
      </div>
    </div>
  </div>
</div>
<script>
  const buttons = document.querySelectorAll(".compare-button");
  buttons.forEach((button) => {
    button.addEventListener("click", function () {
      const playerId = this.getAttribute("data-id");
      if (playerId) {
        window.location.href = `/compare/${playerId}`;
      }
    });
  });
</script>
