{% extends 'layout.html' %} {% block content %}
<div class="text-center py-10 px-4">
  <div
    class="max-w-[1280px] mx-auto bg-white rounded-xl shadow-sm p-5 text-start"
  >
    <div
      class="flex justify-between items-center pb-4 mb-4 border-b border-slate-300"
    >
      <h1 class="text-xl font-bold">NBA</h1>
      <div class="flex gap-x-4">
        <button
          id="players-tab"
          class="h-10 w-24 rounded-md border border-black active-tab font-semibold focus:outline-none"
        >
          Players
        </button>
        <button
          id="teams-tab"
          class="h-10 w-24 rounded-md border border-black font-semibold focus:outline-none"
        >
          Teams
        </button>
      </div>
    </div>

    <div id="teams-section" class="hidden">
      <div class="flex flex-col text-start gap-6">
        {% for team_id, team_data in teams.items() %}
        <div class="border rounded-xl font-medium text-lg py-6 px-4">
          <div class="flex flex-row gap-x-4 justify-start items-center">
            <img
              class="rounded-full h-12 w-12 bg-gray-300 object-cover"
              src="{{team_data.team_image}}"
            />{{team_data.team_name}}
          </div>
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4"
          >
            {% for player in team_data.players %}
            <a
              href="/player/{{ player.player_id }}"
              class="bg-gray-100 p-4 flex flex-row items-center justify-start gap-x-4 rounded-lg shadow hover:shadow-md cursor-pointer"
            >
              <img
                class="w-12 h-12 object-cover rounded-full"
                src="{{ player.player_image }}"
                alt="{{ player.player_name }}"
              />
              <div class="flex flex-col items-start">
                <p class="text-sm leading-none font-semibold text-center">
                  {{ player.player_name }}
                </p>
                <p class="text-xs text-gray-600 mt-1 font-normal text-center">
                  ESPN Rank: {{ player.espn_rank }}
                </p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    {% include "player_table.html" %}
  </div>
</div>

<script>
  const teamsTab = document.getElementById("teams-tab");
  const playersTab = document.getElementById("players-tab");
  const teamsSection = document.getElementById("teams-section");
  const playersSection = document.getElementById("players-section");

  function switchTab(selectedTab, otherTab, selectedSection, otherSection) {
    selectedTab.classList.add("active-tab");
    otherTab.classList.remove("active-tab");

    selectedSection.classList.remove("hidden");
    selectedSection.classList.add("block");

    otherSection.classList.remove("block");
    otherSection.classList.add("hidden");
  }
  teamsTab.addEventListener("click", () => {
    switchTab(teamsTab, playersTab, teamsSection, playersSection);
  });

  playersTab.addEventListener("click", () => {
    switchTab(playersTab, teamsTab, playersSection, teamsSection);
  });

  switchTab(playersTab, teamsTab, playersSection, teamsSection);
</script>
{% endblock %}
